body {
    background: linear-gradient(antiquewhite,burlywood );
}
body {
    padding-left: 55vh;
}
h1{
    font-family:fantasy; 
    color: peru; 
    font-size: 15vh;
}
p {
    width: 100vh; 
    color: saddlebrown; 
    font-family:cursive
}