body {
    background: linear-gradient(antiquewhite,burlywood );
    background-image: url(./images/tileable_dog.jpg);
    background-position: center;
    background-attachment: fixed;
    text-align: center;
    font-size: 16pt;
    text-shadow: 2px 2px 2px;
}
h1{
    font-family:fantasy; 
    color: antiquewhite; 
    font-size: 15vh;
}
h2{
  font-family:fantasy; 
  color: antiquewhite; 
  background: none;
}
p {
    background-blend-mode: overlay;
    background-color: rgba(245, 245, 220, 0.7);
    width: 100vh; 
    color: saddlebrown; 
    font-family:cursive;
    text-align: center;
    text-shadow:4px;

    img{
        float:left; 
         height:30vh;
          width:40vh;
    }
}
button {
  height: 9vmax;
   width: 28vmax;
   border-radius: 40px;
   margin: 20px;
   background-color: saddlebrown;
   color:antiquewhite;
   font-family: fantasy;
   font-size: 100%;
}
/*Classes*/
.slideshow {
  max-width: 1000px;
  position: relative;
  margin: auto;
}
.slide {
  display: none; /*Multiple images won't show at once in a single element*/
}
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
/*Writing the element again lets me overwrite or add attributes*/
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
/*Hover color change to indicate it's a button*/
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}
/*Transition*/
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}
@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
/*Links*/
a:link {
    color: white;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:visited {
    color: white;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:hover {
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
  }
  
  a:active {
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
  }