body {
    background: linear-gradient(antiquewhite,burlywood );
    padding-left: 55vh;
    font-size: 16pt;
}
h1{
    font-family:fantasy; 
    color: peru; 
    font-size: 15vh;
}
p {
    width: 100vh; 
    color: saddlebrown; 
    font-family:cursive;
    img{
        float: left; 
        padding-right: 15vh;
         height:30vh;
          width:40vh;
    }
}

/*Links*/
a:link {
    color: white;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:visited {
    color: white;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:hover {
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
  }
  
  a:active {
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
  }